:root {
  /* Padding */
  --padding-upAndDown: 12px;
  --padding-side: 8px;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Color */
  --color-white: #ffffff;
  --color-dark-white: #bdbdbd;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-transparent-black: #00000085;
  --color-transparent-grey: #00000048;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 50px;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: var(--padding-upAndDown) var(--padding-side);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-dark-white);
}

/* introducing */
#introducing {
  max-width: 1000px;
  margin: 0 auto;
}

.list_slide {
  width: 100%;
  transform: translateX(0px);
  transition: -webkit-transform 0.3s ease 0s;
  background-color: gray;
  overflow-x: scroll;
  white-space: nowrap;
}

.list_slide li {
  display: inline-block;
  width: 100%;
}
