:root {
  /* Padding */
  --padding-upAndDown: 12px;
  --padding-side: 8px;

  /* Font size */
  --font-very-large: 44px;
  --font-large: 36px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Color */
  --color-white: #ffffff;
  --color-less-dark-white: #dad8d8;
  --color-dark-white: #bdbdbd;
  --color-black: #000000;
  --color-light-black: #1b1b1b;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-transparent-black: #00000085;
  --color-transparent-grey: #00000048;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 70px;
}

body::-webkit-scrollbar {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: var(--padding-upAndDown) var(--padding-side);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-dark-white);
}

/* introducing */
#introducing {
}

#introducing .intro_brunch {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#introducing .intro_brunch .tit_brunch {
  font-size: var(--font-very-large);
}

#introducing .intro_brunch .desc_brunch span {
  display: block;
  font-size: var(--font-large);
  color: var(--color-dark-white);
}
#introducing .intro_brunch .desc_brunch span:nth-child(3) {
  color: var(--color-less-dark-white);
}

#introducing .intro_brunch .notice_wrap {
  display: flex;
  justify-content: flex-end;
}

#introducing .intro_brunch .notice_wrap .notice_item.hidden {
  display: none;
}

/* content_slide */
.content_slide [id*='slide'] {
  display: none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.content_slide .slidewrap {
  max-width: 1200px;
  margin: 0 auto;
  /* overflow: hidden; */
  position: relative;
}
.content_slide .slidelist {
  white-space: nowrap;
  font-size: 0;
}
.content_slide .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.3s;
}
.content_slide .slidelist > li > a {
  display: block;
  position: relative;
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.content_slide .slide-control {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.content_slide .slide-control label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}
.content_slide .slide-control .left {
  left: 30px;
  background: url('./imgs/left.png') center center / 100% no-repeat;
}
.content_slide .slide-control .right {
  right: 30px;
  background: url('./imgs/right.png') center center / 100% no-repeat;
}
.content_slide .slide-control [class*='control'] {
  display: none;
}

/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
.content_slide [id='slide01']:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.content_slide [id='slide02']:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.content_slide [id='slide03']:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
.content_slide [id='slide01']:checked ~ .slidewrap .control01 {
  display: block;
}
.content_slide [id='slide02']:checked ~ .slidewrap .control02 {
  display: block;
}
.content_slide [id='slide03']:checked ~ .slidewrap .control03 {
  display: block;
}

/* keywords */
.midtitle {
  font-size: var(--font-medium);
  text-align: center;
}

.desc {
  font-size: var(--font-small);
  text-align: center;
}

.midtitle_and_desc {
  text-align: center;
  margin-top: 250px;
}

.category {
  max-width: 1280px;
  margin: 0 auto;
  column-count: 10;
  margin-top: 50px;
}

.category li {
  width: 130px;
  height: 130px;
  border: 1px solid var(--color-less-dark-white);
  text-align: center;
  line-height: 130px;
}

/* writers */
#writers {
  margin-top: 250px;
  background-color: var(--color-less-dark-white);
  padding: 100px 0;
}

#writers > .midtitle_and_desc {
  margin-top: 0px;
}

.recommended_category {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.brunch_btn_text {
  border-radius: 20px;
  padding: var(--padding-side) var(--padding-side);
  color: var(--color-grey);
  font-size: var(--font-regular);
}

.list_writers {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.list_writers > li {
  background-color: var(--color-white);
  text-align: center;
  border: 1px solid var(--color-less-dark-white);
  width: 30%;
  height: 400px;
  display: inline-block;
}

.list_writers li img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 50px;
}

.writer_name {
  margin: 0;
  margin-top: 20px;
  font-size: calc(var(--font-medium) * 0.9);
  color: var(--color-dark-grey);
}

.writer_job {
  font-size: var(--font-small);
  color: var(--color-grey);
}

.writer_desc {
  margin: 20px 0;
  font-size: calc(var(--font-micro) * 1.2);
  color: var(--color-grey);
}

.writer_keyword > li {
  display: inline-block;
}

.writer_keyword .brunch_btn_text {
  font-size: calc(var(--font-regular) * 0.8);
}

#recommended_articles {
  margin-top: 150px;
}

/* footer */
footer {
  background-color: var(--color-light-black);
  color: var(--color-white);
  margin-top: 200px;
}

.footerbox {
  padding: 30px 200px;
}

.inner_foot {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-dark-grey);
  padding: 15px;
}

.fa-font-awesome {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 10px;
  font-size: var(--font-medium);
  border-radius: 50%;
  margin-bottom: 20px;
}

.brunch_quotation {
  margin: 0;
}

.quoter {
  color: var(--color-light-grey);
}

.corp_and_logos {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.corp {
  color: var(--color-light-grey);
}

.logos {
  display: flex;
}

.logos > li > i {
  font-size: var(--font-medium);
  padding: 10px;
}

/* side_menu */
#side_menu {
  position: fixed;
  top: 0;
  left: -330px;
  width: 330px;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid var(--color-less-dark-white);
  background-color: var(--color-white);
}

.infos_and_menu > .writer_profile {
  background-color: var(--color-less-dark-white);
  padding: 50px 0;
}

.infos_and_menu > .writer_profile > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.infos_and_menu .writer_profile span {
  display: block;
}

.infos_and_menu .menu_list {
  padding: 50px 0;
}

.infos_and_menu .menu_list li {
  margin: 30px 0;
  font-size: var(--font-regular);
}

.setting_and_logout {
  padding: 50px 0;
}
